/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a#botao {
  color: rgb(108, 3, 75);
}

img {
  width: 100%;
  height: auto;
}
/* BASE */
div.divider-1 {
  height: 2px;
  background-color: blueviolet;
}

body {
  font: 700 1rem "DM sans", sans-serif;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font: 500 1.8rem "poppins",sans-serif;
  color: rgb(208, 46, 156);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--color);
  height: 2.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.8rem;
  border: 2px solid rgb(208, 46, 156);
}

.button:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0%{
  box-shadow:
  0 0 20px rgba(208, 46, 156),
  0 0 40px rgb(181, 33, 134);
  }
}

/* VARIAVEIS */
:root {
--color: rgb(214, 139, 168);
--color-bg: rgb(251, 224, 242);
}

/* LAYOUT */
#header {
border-bottom: 1px solid rgba(107, 104, 104, 0.867);

width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background-color: var(--color-bg);
}

nav {
  height: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section#logo {
  width: 15rem;
  position: relative;
  right: 2rem;
}

main {
  margin-top: 4.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

/* HOME */
#home {
  overflow: hidden;
}

#home .container {
margin: 0;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 1rem;
}

#home .text h1 {
  margin-bottom: 0rem;
}

#home .image {
  position: relative;
  right: 1.6rem;
  margin-bottom: -2rem;
  width: 25rem;
  margin-top: -2rem;
  margin-left: 4.5rem;
}

#home .image::before{
  content: '';
  margin-top: 10%;
  height: 100%;
  width: 25rem;
  background: var(--color);
  position: absolute;
  top: -16%;
  left: 2rem;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 3rem;
}

#home .image img , 
#home .image::before {
  border-radius: 10px;
}

